<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Code runner whoa!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Le styles -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <style>
  .code {
    font: 13px/16px "Courier New",Courier,"Bitstream Vera Sans Mono",monospace;
    white-space: pre-wrap;
  }
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .sidebar-nav {
    padding: 9px 0;
  }
  .container {
    width: auto;
  }
  #code_output {
    margin-right: 100px;
    white-space: pre-wrap;
    font-family: "courier new", courier, monospace;
  }
  </style>
  <link rel="stylesheet" href="assets/js/vendor/CodeMirror-2.33/lib/codemirror.css">
  <script src="assets/js/vendor/CodeMirror-2.33/lib/codemirror.js"></script>
  <script src="assets/js/vendor/CodeMirror-2.33/mode/xml/xml.js"></script>
  <script src="assets/js/vendor/CodeMirror-2.33/mode/javascript/javascript.js"></script>
  <script src="assets/js/vendor/CodeMirror-2.33/mode/css/css.js"></script>
  <script src="assets/js/vendor/CodeMirror-2.33/mode/clike/clike.js"></script>
  <script src="assets/js/vendor/CodeMirror-2.33/mode/php/php.js"></script>

  <script src="assets/js/jquery-1.8.1.min.js"></script>
  <script src="assets/js/underscore-1.3.1.js"></script>
  <script src="assets/js/backbone.js"></script>
  <script src="assets/js/runner.js"></script>
  <script type="text/javascript">
  {% if snippet_id %}
  var snippet_id = {{ snippet_id}};
  {% endif %}
  </script>

  
<body bgcolor="white">
  <div id="app_container" class="container">
    <form action="./runner.php" method="post" id="run_code_form">
    <div class="row">
      <div id="app_navigation" class="span3 offset1"></div>
      <div id="code_editor" class="span12"></div>
    </div>
    <hr/>
    <div id="code_output" class="offset1"></div>
    <hr/>
    <div id="code_errors" class="offset1"></div>
    </form>
  </div> <!-- /container -->

  <script type="text/template" id="code-editor-template"><%= content %></script>
  <script type="text/template" id="code-editor-output-template">
    <legend>Results:</legend>
    <div id="result" class="well code prettyprint linenums languague-php"></div>
    <legend>Errors:</legend>
    <div id="errors" class="well code alert alert-error"></div>
  </script>
  <script type="text/template" id="code-editor-navigation-template">
    <button id="save_snippet_btn" class="btn btn-small btn-inverse btn-block" type="button">Save snippet</button>
    <button id="run_code_btn" class="btn btn-small btn-block" type="button">Run code</button>
    <button id="delete_snippet" class="btn btn-small btn-block btn-danger disabled" type="button">Remove snippet</button>
  </script>
  <script type="text/template" id="snippets-option-template"><%= content %></script>
  </body>
  </html>
